body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: 10px solid rgb(218,165,32);
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: rgb(128,0,0);
}

.header {
    display: flex;
    gap: 24px;
    padding: 16px;
    background-color: lightgray;
    color: rgb(128,0,0);
    align-items: center;
}

.site-header {
    font-size: 24px;
    font-weight: 700;
    flex-grow: 1;
}

.body-one {
    display: flex;
    margin: 64px 64px;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.text-side {
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 600px;
    text-align: center;
}
 
.text-side-header {
    font-size: 32px;
    font-weight: 700;
}

.text-side-body {
    font-size: 18px;
}

.text-side-button {
    background-color: rgb(218,165,32);
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 24px;
    border: 5px solid maroon;
}

.body-two {
    background-color: black;
    color: white;
    padding: 32px 32px;
    border: 10px solid grey;
}

.body-two-header{
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.sith-lord-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.sith-lord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sith-lord-body {
    flex-wrap: wrap;
    width: 320px;
    text-align: center;
}


.body-three {
    font-size: 24px;
    text-align: center;
    margin: 64px 128px;
    padding: 32px 128px;
    background-color: grey;
    border: 10px solid black;

}

.quote {
    text-align: right;
    font-weight: 700;
}

.body-four{
    display: flex;  
    justify-content: center;
    margin: 40px 476px;
    align-items: center;
    gap: 84px;
    background-color: rgb(128,0,0);
    padding: 32px;
    border-radius: 25px;
}


.body-four-text{
    text-align: left;
    flex-wrap: wrap;
    width: 600px;
    flex-shrink: 0;
    font-size: 18px;
    color: whitesmoke;
}

.text-four-button {
    background-color: grey;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 24px;
    border: 5px solid rgb(218,165,32);
    flex-shrink: 0;
}


.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}